* {
  box-sizing: border-box;
}

.card {
  text-align: center;
  margin: 10px;
}

.cards{
  text-align: center;
  }

.card_img{
  height: 27vh;
  width: 27vh;
}

.card_img:hover {
  height: 200px;
  width: 200px;
}

button:hover {
  font-size: medium;
  cursor: pointer;
}

.card_category {
  margin: 0;
  padding: 0;
}

.card_title {
  margin: 5px;
  padding: 0;
}

.card_info {
  font-size: small;
}

h1{
  text-align: center;
  padding: 30px 0;
  font-family: 'raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: rgb(245, 110, 61);
}